# Auto detect text files and perform LF normalization
* text=auto
*.css linguist-vendored
*.scss linguist-vendored
*.js linguist-vendored
*.css linguist-detectable=false
*.js linguist-detectable=false
CHANGELOG.md export-ignore
